* {
  margin: 0;
  padding: 0;
}

nav {
  .budget-awal {
    background-color: lightgreen;
  }
  .budget-terpakai {
    background-color: red;
  }
  .budget-sisa {
    background-color: orange;
  }
}

.input-pengeluaran {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  box-sizing: border-box;

  .tambah-form {
    background-color: white;
    width: 75%;

    .label {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.daftar-transaksi {
  .tabel-transaksi {
    border: 2px solid black;
    border-collapse: collapse;
    th,
    td {
      border: 2px solid black;
      padding: 10px;
    }
  }
}
